---
import astroLogo from '../assets/astro.svg'
import background from '../assets/background.svg'
---

<div class="h-full font-sans">
	<img
		class="fixed top-0 left-0 -z-10 h-full w-full blur-[100px]"
		src={background.src}
		alt=""
		fetchpriority="high"
	/>
	<main class="flex min-h-screen justify-center">
		<section class="flex flex-col items-start justify-center space-y-6 p-4">
			<a href="https://astro.build">
				<img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" />
			</a>
			<h1 class="text-2xl">Welcome to the Astro Dynamic OG Image Generator!</h1>
			<section class="flex flex-wrap gap-4">
				<a
					class="flex items-center rounded-lg bg-gradient-to-r from-[#3245ff] to-[#bc52ee] px-3 py-2.5 text-white shadow-[inset_0_0_0_1px_rgba(255,255,255,0.12),inset_0_-2px_0_rgba(0,0,0,0.24)] transition-colors hover:text-[rgb(230,230,230)] hover:shadow-none"
					href="https://docs.astro.build"
				>
					Read docs
				</a>
				<a
					class="flex items-center rounded-lg bg-gradient-to-r from-[#ff4d32] to-[#ee52bc] px-3 py-2.5 text-white shadow-[inset_0_0_0_1px_rgba(255,255,255,0.12),inset_0_-2px_0_rgba(0,0,0,0.24)] transition-colors hover:text-[rgb(230,230,230)] hover:shadow-none"
					href="/og.png"
					target="_blank"
				>
					Try OG Image
				</a>
			</section>
		</section>
	</main>
</div>
