---
import '../styles/global.css'
import background from '../assets/background.svg'

export interface Props {
	ogImage?: string
}

const ogImage = Astro.props.ogImage ?? '/og.png'
const socialImageURL = new URL(ogImage, Astro.url)
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Astro dynamic OG image generator demo." />
		<title>Astro Dynamic OG Image Generator</title>
		<meta property="og:image" content={socialImageURL} />
	</head>
	<body class="bg-slate-900 text-slate-50">
		<img
			class="fixed top-0 left-0 -z-10 h-full w-full blur-[100px]"
			src={background.src}
			alt="Background"
			fetchpriority="high"
		/>
		<slot />
	</body>
</html>
